 <div class="container">
 <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a style="color: rgb(114, 177, 236);font-size: 20px;font-family: 'Dancing Script', cursive;
                " href="#">Ramo</a>
            </h4>
            <p class="card-text"style="font-family: 'Maven Pro', sans-serif;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
        </div>
        <div class="card-footer">
                <h5 style="text-align: center;">$24.99</h5>
            
            <a href="#" style="background-color: rgb(106, 151, 187);margin-left:35px" class="btn btn-primary">Comprar</a>
        </div>
    </div>
</div>
</div>
