<footer class="py-1 bg-dark">
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 ">
          <div class="mt-5">
            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
            <h3 style="color: blanchedalmond; font-size: 35px;font-family: 'Niconne', cursive;" class="h4 mb-2">Acerca
              de:</h3>
            <i style="color: white" class="fa fa-phone" aria-hidden="true"><a
                style="color: blanchedalmond; font-size: 25px;font-family: 'Niconne', cursive;">:
                2381209786</a></i><br>
            <i style="color: white" class="fa fa-map-marker" aria-hidden="true"> <a
                style="color: blanchedalmond; font-size: 25px;font-family: 'Niconne', cursive;">: Av. Independencia
                poniente no.806</a></i><br>
            <i style="color: white" class="fa fa-instagram" aria-hidden="true"><a
                style="color: blanchedalmond; font-size: 25px;font-family: 'Niconne', cursive;">:
                florelliartefloral</a></i><br>
            <i style="color: white" class="fa fa-facebook-official" aria-hidden="true"><a
                style="color: blanchedalmond; font-size: 25px;font-family: 'Niconne', cursive;">: Florelli Artesanía
                Floral</a></i>
          </div>
        </div>
      </div>
      <p style="text-align:right; color: blanchedalmond; font-size: 20px;font-family: 'Niconne', cursive;">Florelli
        &copy; 2019 Developed by </p>
    </div>
  </section>

</footer>