<div class="contact" style="font-family: 'Dancing Script', cursive;font-size: 30px">
<h1 style="margin-top: 20px; font-size: 60px;text-align: center;color: rgb(132, 171, 209);">Contacto </h1>
<br>
<div class="container"><div class="row">
<main role="main" class="col-md-12 col-lg-12 px-4">
    <form>
    
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Nombre</label>
                <input type="nombre" class="form-control" id="nombre" placeholder="Arturo Garcia">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Correo electronico</label>
                <input type="email" class="form-control" id="email" placeholder="example@gmail.com">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Teléfono</label>
              <input type="text" class="form-control" id="phone" placeholder="+𝟧𝟤 𝟤𝟥𝟤𝟣𝟤𝟫𝟦𝟫𝟥𝟥">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Comentario</label>
              <input style="height: 120px;" type="textArea" class="form-control" id="inputAddress2" >
            </div>
            <button style="color: black;background-color: rgb(132, 171, 209);; margin-left: 510px" type="submit" class="btn btn-primary">Emviar</button>
            <br>
          </form>
          <br>
          <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.4469857603917!2d-97.40247873300719!3d18.46340165277241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c5bd2f06123529%3A0xa8db82b91a4c0a48!2sAv%20Independencia%20Pte%20806%2C%20Aquiles%20Serd%C3%A1n%2C%20Tehuac%C3%A1n%2C%20Pue.!5e0!3m2!1ses-419!2smx!4v1570486466067!5m2!1ses-419!2smx"
                  width="1090" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</main>
</div>
</div>
</div>